<h2 class="section__title">About Me</h2>
<span class="section__subtitle">My introduction</span>
<div class="about__container container grid">
    <img src="./assets/img/Question_Mark.png" alt="about" class="about__img">
    <div class="about__data">
        <p class="about__description">
            I'm a passionate developer with a love for both front-end and back-end development. My journey began in college where I was introduced to a variety of programming languages including Java, JavaScript and Python. This diverse exposure has equipped me with the skills to tackle a wide range of development tasks.
            <br>
            <br>
            When I'm not coding, you'll find me immersed in music, which fuels my creativity and helps me to stay focused. I'm always eager to learn new things and take on new challenges.
        </p>
        <div class="about__info">
            <div>
                <span class="about__info-title">23</span>
                <span class="about__info-name">Years <br> old</span>
            </div>
            <div>
                <span class="about__info-title">X</span>
                <span class="about__info-name">Completed <br> products</span>
            </div>
            <div>
                <span class="about__info-title">X</span>
                <span class="about__info-name">Completed <br> projects</span>
            </div>
        </div>
    </div>
</div>