<div class="home__container container grid">
  <div class="home__content grid">
    <div class="home__social">
      <a href="https://www.linkedin.com/in/youri-levoye/" target="_blank" class="home__social-icon">
        <i class="uil uil-linkedin-alt"></i>
      </a>
      <a href="https://github.com/yourilevoye" target="_blank" class="home__social-icon">
        <i class="uil uil-github-alt"></i>
      </a>
    </div>
    <div class="home__img">
      <img class="home__blob-img glow-effect" src="./assets/img/portrait.png" alt="profile" />
    </div>
    <div class="home__data">
      <h1 class="home__title">Hi, I am Youri</h1>
      <h3 class="home__subtitle">Software Developer</h3>
      <p class="home__discription">An enthusiastic developer with a passion for learning and improving my skills. Always eager to explore new challenges and find creative ways to solve issues.</p>
    </div>
  </div>
  <div class="home__scroll">
    <a href="#about" class="home__scroll-button button--flex">
      <i class="uil uil-mouse-alt home__scroll-mouse"></i>
      <span class="home__scroll-name">Scroll down</span>
      <i class="uil uil-arrow-down"></i>
    </a>
  </div>
</div>