<h2 class="section__title">Portfolio</h2>
<span class="section__subtitle">Most recent work</span>

<div class="portfolio__container container swiper-container">
    <div class="swiper-wrapper">
        <!--==================== PORTFOLIO 1 ==================== -->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio1.png" alt="portfolio image 1" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">KPN Mobility</h3>
                <p class="portfolio__description"> Part of "Front-End development" - This innovative application empowers KPN employees to log their travels, while providing management with vital insights into CO2 emissions based on vehicle types. Our focus is on promoting sustainable travel and enhancing environmental awareness within the company. </p>
                <a href="https://PAGE/" target="_blank" class="button button--flex button--small portfolio__button">
                    Demo
                    <i class="uil uil-arrow-right button__icon"></i>
                </a>
            </div>
        </div>
        <!--==================== PORTFOLIO 2 ====================-->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio1.png" alt="portfolio image 2" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">Title</h3>
                <p class="portfolio__description">Placeholder</p>
                <a href="https://PAGE/" target="_blank" class="button button--flex button--small portfolio__button">
                    Demo
                    <i class="uil uil-arrow-right button__icon"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-pagination"></div>
</div>