<h2 class="section__title">Portfolio</h2>
<span class="section__subtitle">Most recent work</span>

<div class="portfolio__container container swiper-container">
    <div class="swiper-wrapper">
        <!--==================== PORTFOLIO 1 ==================== -->
        <div class="portfolio__content grid swiper-slide">
            <div class="portfolio__images">
                <img src="./assets/img/portfolio6.1.png" alt="portfolio image 6.1" class="portfolio__img">
                <img src="./assets/img/portfolio6.2.png" alt="portfolio image 6.2" class="portfolio__img">
                <img src="./assets/img/portfolio6.3.png" alt="portfolio image 6.3" class="portfolio__img">
                <img src="./assets/img/portfolio6.4.png" alt="portfolio image 6.4" class="portfolio__img">
            </div>
            <div class="portfolio__data">
                <h3 class="portfolio__title">Digital Smart Services (Vrije Universiteit Amsterdam)</h3>
                <p class="portfolio__description">Final year 2 project - With a team of 5 we have developed an application for the Vrije Universiteit Amsterdam to optimize the use of green spaces in healthcare. This application enables healthcare institutions to collaborate internally to reflect on their current usage and/or plans, thereby promoting patient rehabilitation.</p>
<!--                <a href="https://PAGE/" target="_blank" class="button button&#45;&#45;flex button&#45;&#45;small portfolio__button">-->
<!--                    Demo-->
<!--                    <i class="uil uil-arrow-right button__icon"></i>-->
<!--                </a>-->
            </div>
        </div>
        <!--==================== PORTFOLIO 2 ==================== -->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio1.png" alt="portfolio image 1" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">KPN Mobility</h3>
                <p class="portfolio__description">Part of "Front-End development" - This innovative application empowers KPN employees to log their travels, while providing management with vital insights into CO2 emissions based on vehicle types. Our focus is on promoting sustainable travel and enhancing environmental awareness within the company.</p>
            </div>
        </div>
        <!--==================== PORTFOLIO 3 ====================-->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio2.png" alt="portfolio image 2" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">Station display</h3>
                <p class="portfolio__description">Year 1 Python project using a database, API and Tkinter</p>
            </div>
        </div>
        <!--==================== PORTFOLIO 4 ====================-->
        <div class="portfolio__content grid swiper-slide">
            <div>
                <img src="./assets/img/portfolio3.1.png" alt="portfolio image 3.1" class="portfolio__img">
                <img src="./assets/img/portfolio3.2.png" alt="portfolio image 3.2" class="portfolio__img">
            </div>
            <div class="portfolio__data">
                <h3 class="portfolio__title">ProcureEase</h3>
                <p class="portfolio__description">Final project year 1</p>
            </div>
        </div>
        <!--==================== PORTFOLIO 5 ====================-->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio4.png" alt="portfolio image 4" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">"Lingo trainer"</h3>
                <p class="portfolio__description">Project focused on Test Driven Development</p>
            </div>
        </div>
        <!--==================== PORTFOLIO 6 ====================-->
        <div class="portfolio__content grid swiper-slide">
            <img src="./assets/img/portfolio5.gif" alt="portfolio image 5" class="portfolio__img">
            <div class="portfolio__data">
                <h3 class="portfolio__title">Battlesnake</h3>
                <p class="portfolio__description">Project focused creating an application that allows interactions with the Battlesnake API per user</p>
            </div>
        </div>
    </div>

    <div class="swiper-button-next">
        <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-button-prev">
        <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
    </div>
    <div class="swiper-pagination"></div>
</div>